.container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.image {
    width: 100%;
}

h2 {
    text-align: center;
}

.card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #000000; /* Warna border */
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
  }
  
  .card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-description {
    text-align: center;
    font-size: 16px;
    color: #333;
  }
  
  

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

button:disabled {
    background-color: rgb(106, 177, 248);
    cursor: not-allowed;

}