* {
    margin: 0;
}

.box {
    background-color: rgb(248, 123, 77);
    text-align: center;
    color: aliceblue;
    padding: 20px;
    margin-bottom: 10px;
}

.container {
    margin-bottom: 10px;
}