/* CSS untuk tabel */
table {
    width: 1200px;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-top: 20px;
  }
  
  /* CSS untuk header tabel */
  th {
    background-color: #007BFF; /* Warna latar belakang header */
    color: #fff; /* Warna teks header */
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; /* Warna dan gaya border header */
    text-align: center;
  }
  
  /* CSS untuk sel data dalam tabel */
  td {
    padding: 10px;
    border: 1px solid #ddd; /* Warna dan gaya border sel data */
    text-align: center;
  }
  
  /* CSS untuk baris ganjil dalam tabel */
  tr:nth-child(odd) {
    background-color: #f2f2f2; /* Warna latar belakang baris ganjil */
  }

  .removeButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0011; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .removeButton:hover {
    background-color: #b60202; /* Warna latar belakang saat hover */
  }
  
  .removeButton:disabled {
    background-color: #f67676;
    cursor: not-allowed;
  }

  